footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: var(--primary-200);
   margin-left: 17rem;
   margin-top: 2rem;
   padding: 2rem;
   gap: 20px;
}

footer .box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   gap: 0.5rem;
}

footer .box h2 {
   color: #143d1b;
   font-size: 1.75rem;
   font-weight: 600;
   margin: 0;
}

footer .box h2 > a {
   color: #143d1b;
   text-decoration: underline;
}

footer .box p.year {
   font-size: 1rem;
   margin: 0;
   color: var(--bg-200);
}

footer .box h2 > i {
   animation: beatingHeart 1.5s infinite alternate;
}

footer .box .list {
   display: flex;
   flex-direction: column;
}

footer .box .list a {
   color: var(--bg-200);
   font-size: 1rem;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}

footer .box .list a:hover {
   color: var(--bg-100);
   text-decoration: underline;
}

footer .box:last-child .list {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 0.5rem;
   padding: 0.5rem 1rem;
   border-radius: 20px;
   text-decoration: none;
   background: #20672c;
}

footer .box:last-child .list i {
   font-size: 1.2rem;
   color: var(--bg-100);
}

.eplogo {
  width: 50px;
}

@media screen and (max-width: 768px) {
   footer {
      margin-left: 0;
   }
}
