body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/* .quizBox {
   display: flex;
   position: relative;
   height: 92vh;
   padding: 3.5rem 0;
} */

header {
   height: 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   margin-top: 3rem;
}
.progressBar {
   position: relative;
}
.progressBar {
   /* width: 100%; */
   height: 20px;
   border-radius: 20px;
   background: var(--bg-200);
   position: relative;
}
.progressBarIndex {
   width: 10%;
   background: var(--accent-100);
   height: 100%;
   border-radius: 20px;
   z-index: 10;
   position: absolute;
   left: 0;
}
.questionIndicator {
   font-weight: 600;
}

.question-box {
   display: flex;
   justify-content: center;
   position: relative;
   margin: 0 auto;
   transform: translateY(10%);
   width: 400px;
}

.question-box-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 65vh;
   justify-content: space-between;
}
.question-box-content h4 {
   max-width: 100%;
}
input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 0;
   height: 0;
   margin: 0;
}

.optionControl {
   background-color: var(--primary-100);
   padding: 0.2rem 0.6rem;
   border-radius: 50px;
   font-weight: 600;
   pointer-events: none;
   align-items: center;
   vertical-align: middle;
   margin-right: 8px;
}

.alternativas {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   text-align: flex-start;
   gap: 10px;
   max-width: 100%;
   margin: 0 auto;
}

.r-input {
   display: none;
}

.r-input:checked + .option {
   background: var(--primary-100);
}
.r-input:checked + .option .optionControl {
   background: var(--primary-300);
   color: var(--bg-100);
}

.option {
   min-width: 400px;
   display: flex;
   vertical-align: middle;
   align-items: center;
   padding: 10px;
   background: var(--bg-200);
   border-radius: 10px;
   transition: all 0.2s ease;
   box-shadow: 0px 4px 6px var(--bg-300);
   cursor: pointer;
}
.option:not(span) {
   text-align: left;
}

.next {
   background: var(--accent-100);
   text-align: center;
   padding: 10px;
   width: 100%;
   color: #fff;
   margin-top: 10px;
   border: none;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: 500;
}
.quizImage {
   width: 100%;
}
.hide-box {
   display: none;
}

@media (max-width: 768px) {
   header {
      margin-top: 1rem;
      height: 42px;
   }
   .progressBar {
      height: 14px;
   }
   .question-box {
      padding: 0 1.2rem;
      transform: translateY(0px);
      height: auto;
      margin-top: 5px;
      width: 100vw;
   }
   .question-box-content h5 {
      font-size: 1.1rem;
   }
   .option {
      min-width: 100%;
      width: 100%;
      font-size: 0.9rem;
   }
   .next {
      /*position: absolute;*/
      bottom: 5px;
   }
}
