body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container {
   margin-top: 2rem;
}

.progressBar {
   width: 100%;
   height: 20px;
   background: var(--primary-100);
   position: fixed;
   top: 0;
   left: 0;
}

.question-box-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.question-box-content h5 {
   max-width: 400px;
}

input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 0;
   height: 0;
   margin: 0;
}

.optionControl {
   background-color: var(--primary-100);
   padding: 0.2rem 0.6rem;
   border-radius: 50px;
   font-weight: 600;
   pointer-events: none;
   align-items: center;
   vertical-align: middle;
}

.alternativas {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   text-align: flex-start;
   gap: 10px;
   max-width: 400px;
   margin: 0 auto;
}

.r-input {
   display: none;
}

.r-input:checked + .option {
   background: var(--primary-100);
}
.r-input:checked + .option .optionControl {
   background: var(--primary-300);
   color: var(--bg-100);
}

.option {
   min-width: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   vertical-align: middle;
   padding: 10px;
   background: var(--bg-200);
   border-radius: 10px;
   transition: all 0.2s ease;
   box-shadow: 0px 4px 6px var(--bg-300);
}

.next {
   background: #81c784;
   text-align: center;
   padding: 10px;
   width: 400px;
   color: #fff;
   margin-top: 10px;
   border: none;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: 500;
}

.hide-box {
   display: none;
}
