:root {
   --primary-100: #81c784;
   --primary-200: #64a968;
   --primary-300: #20672c;
   --accent-100: #4caf50;
   --accent-200: #005100;
   --text-100: #212121;
   --text-200: #484848;
   --bg-100: #e8f5e9;
   --bg-200: #deebdf;
   --bg-300: #b6c2b7;
}

body {
   scroll-behavior: smooth;
   background: var(--bg-100);
}

/*Main style*/
main {
   margin-left: 17rem;
}

@media screen and (max-width: 768px) {
   main {
      margin: 5rem 0 0 0;
   }
}

.content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.content h1 {
   font-size: 3rem;
}

.content section p {
   font-size: 1.2rem;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.66);
   opacity: 0;
   pointer-events: none;
   transition: all 0.35s ease;
   z-index: 80;
}
.overlay.show {
   opacity: 1;
}
